.Rproj.user
.Rhistory
.RData
.Ruserdata
.future
README.html
vignettes/*.html
# macOS files
.DS_Store
inst/doc
# meld merge history
.orig
parallel_first_simulation/*.R
parallel_*
parallel_*/*.R
temp_output
temp_code/*
temp_code
man
man/*.Rd
NAMESPACE
